<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registry</title>
    <link rel="stylesheet" href="/CSS/user/reg.css">
</head>
<body>
    <header>
        <h1>Форма регистрации</h1>
    </header>
    <main>
        <form method="post">
            <label for="">Имя</label><br>
            <input type="text" name="name"><br><br>
            <label for="">Эл. почта</label><br>
            <input type="text" name="email"><br><br>
            <label for="">Пароль</label><br>
            <input type="text" name="password"><br><br>
            <label for="">Контактный телефон</label><br>
            <input type="text" name="contactPhone"><br><br>
            <input type="submit" value="Подтвердить">
        </form>
    </main>
</body>
</html>