<form method="post">
    <div>
        <label for="">Логин: </label>
        <input type="text" name="username"><br>
    </div>
    <div>
        <label for="">Пароль: </label>
        <input type="password" name="password"><br>
    </div>
    <div>
        <input type="submit" value="Войти">
    </div>
</form>